@import './admin.scss';
.theme-light {
    --color-1:  #d0d0d0;
    --color-2: #e0e0e0;
    --color-3: #f0f0f0;
    --color-primary: #823535;
    --color-secondary: #0a0a0a;
    --color-sucess: rgb(67, 133, 87);
    --color-error: #b00020;
    --font-color: #000000;
    
  }
  .theme-dark {
    --color-1: #121212;
    --color-2: #222222;
    --color-3: #333333;
    --color-primary: #b24c4c;
    --color-secondary: #03dac6;
    --color-sucess: #68CD86;
    --color-error: #cf6679;
    --font-color: #ffffff;
   
  }
@media screen and (min-width: 800px) {
    .container_form {
        width: 100vw;
        height: 100vh;
        background-color: var(--color-1);
        transition: background-color .5s ease-in-out;
    }
}

@media screen and (max-width: 800px) {
    .container_form {
        width: 100vw;
        height: 100vh;
        background-color: var(--color-1);
        transition: background-color .5s ease-in-out;
    }
}
*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
}
.centerAll{
    display: flex;
    text-align:center;
    justify-content: center;
    align-items:center;
}


